.button {
  cursor: pointer;
  font: inherit;
  padding: 0.75rem 3rem;
  background-color: rgb(235, 23, 0);
  border: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 25px;
  color: white;
  font-weight: bold;
}
.icon {
  width: 1.35rem;
  height: 1.35rem;
  margin-right: 0.5rem;
}
.button:hover,
.button:active {
  background-color: rgb(130, 13, 0);
}
.badge {
  background-color: rgb(201, 24, 4);
  padding: 0.25rem 1rem;
  border-radius: 25px;
  margin-left: 1rem;
  font-weight: bold;
}
.button:hover .badge,
.button:active .badge {
  background-color: #531800;
}
